{{ define "main" }}
{{/* hero section */}}
<section
    class="h-full w-full bg-white dark:bg-main">
    <div class="py-20 relative flex justify-center items-center">
        <div class="absolute w-full h-full">
            {{ $dark_doted := "images/dev/dark_doted_layer.png" | relURL }}
            <div style="background-image: linear-gradient(to bottom, transparent, transparent), url('{{ $dark_doted }}');"
                class="w-1/2 h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center absolute opacity-50 hidden dark:block">
            </div>
            <div style="background-image: url('{{ "images/dev/doted_layer.png" | relURL }}');"
                class="w-1/2 h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center absolute opacity-50 dark:hidden">
            </div>
            <div style="background-image: url('{{ "images/dev/dark_shadow.png" | relURL }}')"
                class="w-full h-full bg-no-repeat bg-top-center absolute opacity-50 hidden dark:block"></div>
            <div style="background-image: url('{{ "images/dev/light_shadow.png" | relURL }}')"
                class="w-full h-full bg-no-repeat bg-top-center absolute opacity-20 dark:hidden"></div>
            <div style="background-image: url('{{ "images/dev/top_shadow.png" | relURL }}');"
                class="w-full h-full bg-no-repeat bg-top-center absolute"></div>
        </div>
        <div class="container z-40 mx-auto mt-20 px-5 sm:px-10 lg:px-16">
            <div class="lg:max-w-4xl space-y-5 text-center mx-auto" data-aos="zoom-in">
                {{ with .Params.hero_section }}
                {{ if .enable }}
                <h1 class="font-poppins font-bold text-5xl sm:text-[56px] main-heading h-16">{{ .title | safeHTML }}</h1>
                <h5 class="font-poppins text-xl text-slate-900 font-semibold dark:font-normal dark:text-style">{{ .subtitle | markdownify }}</h5>
                <p class="font-poppins text-lg text-slate-700 dark:text-slate-300">{{ .details | markdownify }}</p>
                {{ end }}
                {{ end }}
            </div>
            {{ with .Params.tabs }}
            {{ if .enable }}
            <div
                class="mt-10 bg-gradient-to-b from-transparent to-slate-100 dark:to-main"
                data-aos="zoom-in">
                <div class="flex border-gradient-primary after:rounded-full p-2 max-w-[16.7rem] mx-auto">
                    {{ with .monthly_billing }}
                    <button onclick="showTab('monthlyBilling')" data-tab="monthlyBilling" class="tab-link p-2 font-poppins bg-style font-semibold rounded-full  cursor-pointer relative z-30">Monthly billing</button>
                    {{ end }}
                    {{ with .annual_billing }}
                    <button onclick="showTab('annualBilling')" data-tab="annualBilling" class="tab-link p-2 font-poppins font-semibold rounded-full cursor-pointer relative z-30">Annual billing</button>
                    {{ end }}
                </div>
                <div class="mt-20">
                    {{ with .monthly_billing }}
                    <div id="monthlyBilling" class="tab grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-5 gap-y-10">
                        {{ range . }}
                        <div class="h-full flex flex-col justify-between">
                            <div>
                                <div class="flex items-center gap-x-3 border-b border-slate-300 dark:border-slate-800 pb-3">
                                    <h4 class="font-poppins font-semibold text-[20px] text-black dark:text-white">{{ .plan_name }}</h4>
                                    {{ if .popular }}
                                    <div>
                                        <p class="border-gradient-primary text-black font-semibold dark:font-normal dark-main-text px-3 py-[2px] after:rounded-full text-sm font-poppins">Popular</p>
                                    </div>
                                    {{ end }}
                                </div>
                                <div class="mt-10">
                                    <div class="flex gap-x-2 items-end">
                                        <h3 class="font-poppins font-semibold text-5xl text-black {{ if .popular }}dark-main-text{{ else }}dark:text-white{{ end }}">${{ .price }}</h3>
                                        <span class="font-poppins text-slate-700 dark:font-semibold pb-2">per month</span>
                                    </div>
                                </div>
                                <div class="mt-5 space-y-5">
                                    {{ if .access }}
                                    <div>
                                        {{ $access := "images/dev/credit_card.png" | relURL }}
                                        <div class="flex gap-x-2 items-center">
                                            <img src="{{ $access }}" alt="{{ site.Title }}">
                                            <p class="text-black dark:text-white font-poppins font-medium">Access</p>
                                        </div>
                                        <p class="text-slate-600 dark:text-slate-400 font-poppins text-sm mt-3">{{ .access | markdownify }}</p>
                                    </div>
                                    {{ end }}
                                    {{ if .includes }}
                                    <div>
                                        {{ $file := "images/dev/file.png" | relURL }}
                                        <div class="flex gap-x-2 items-center">
                                            <img src="{{ $file }}" alt="{{ site.Title }}">
                                            <p class="text-black dark:text-white font-poppins font-medium">Includes</p>
                                        </div>
                                        <p class="text-slate-600 dark:text-slate-400 font-poppins text-sm mt-3">{{ .includes | markdownify }}</p>
                                    </div>
                                    {{ end }}
                                    {{ if .perfect_for }}
                                    <div>
                                        {{ $clipboard := "images/dev/clipboard.png" | relURL }}
                                        <div class="flex gap-x-2 items-center">
                                            <img src="{{ $clipboard }}" alt="{{ site.Title }}">
                                            <p class="text-black dark:text-white font-poppins font-medium">Perfect For</p>
                                        </div>
                                        <p class="text-slate-600 dark:text-slate-400 font-poppins text-sm mt-3">{{ .perfect_for | markdownify }}</p>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                            <div class="w-full border-gradient-primary after:rounded-full text-center py-3 mt-10 hover:scale-105 transition-transform">
                                <a href='{{ "our-vision/" | relURL }}' class="text-black dark:text-white relative z-10 block">Contact Us</a>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}

                    {{ with .annual_billing }}
                    <div
                        id="annualBilling"
                        class="tab grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-5 gap-y-10">
                        {{ range . }}
                        <div class="h-full flex flex-col justify-between">
                            <div>
                                <div class="flex items-center gap-x-3 border-b border-slate-300 dark:border-slate-800 pb-3">
                                    <h4 class="font-poppins font-semibold text-[20px] text-black dark:text-white">{{ .plan_name }}</h4>
                                    {{ if .popular }}
                                    <div>
                                        <p class="border-gradient-primary text-black font-semibold dark:font-normal dark-main-text px-3 py-[2px] after:rounded-full text-sm font-poppins">Popular</p>
                                    </div>
                                    {{ end }}
                                </div>
                                <div class="mt-10">
                                    <div class="flex gap-x-2 items-end">
                                        <h3 class="font-poppins font-semibold text-5xl text-black {{ if .popular }}dark-main-text{{ else }}dark:text-white{{ end }}">${{ .price }}</h3>
                                        <span class="font-poppins text-slate-700 dark:font-semibold pb-2">per month</span>
                                    </div>
                                </div>
                                <div class="mt-5 space-y-5">
                                    {{ if .access }}
                                    <div>
                                        {{ $access := "images/dev/credit_card.png" | relURL }}
                                        <div class="flex gap-x-2 items-center">
                                            <img src="{{ $access }}" alt="{{ site.Title }}">
                                            <p class="text-black dark:text-white font-poppins font-medium">Access</p>
                                        </div>
                                        <p class="text-slate-600 dark:text-slate-400 font-poppins text-sm mt-3">{{ .access | markdownify }}</p>
                                    </div>
                                    {{ end }}
                                    {{ if .includes }}
                                    <div>
                                        {{ $file := "images/dev/file.png" | relURL }}
                                        <div class="flex gap-x-2 items-center">
                                            <img src="{{ $file }}" alt="{{ site.Title }}">
                                            <p class="text-black dark:text-white font-poppins font-medium">Includes</p>
                                        </div>
                                        <p class="text-slate-600 dark:text-slate-400 font-poppins text-sm mt-3">{{ .includes | markdownify }}</p>
                                    </div>
                                    {{ end }}
                                    {{ if .perfect_for }}
                                    <div>
                                        {{ $clipboard := "images/dev/clipboard.png" | relURL }}
                                        <div class="flex gap-x-2 items-center">
                                            <img src="{{ $clipboard }}" alt="{{ site.Title }}">
                                            <p class="text-black dark:text-white font-poppins font-medium">Perfect For</p>
                                        </div>
                                        <p class="text-slate-600 dark:text-slate-400 font-poppins text-sm mt-3">{{ .perfect_for | markdownify }}</p>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                            <div class="w-full border-gradient-primary after:rounded-full text-center py-3 mt-10 hover:scale-105 transition-transform">
                                <a href='{{ "our-vision/" | relURL }}' class="text-black dark:text-white relative z-10 block">Contact Us</a>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>

    </div>
</section>
{{/* end hero */}}
<div 
    class="sm:-mt-40 bg-white dark:bg-main">
    <img src='{{ "images/dev/bottom_layer.png" | relURL }}' alt="" class="container mx-auto w-full">
</div>
{{ end }}