@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@media (max-width: 767px) {
  .sidebar-container {
    @apply fixed pt-[calc(var(--navbar-height))] top-0 w-full bottom-0 z-[15] overscroll-contain bg-white dark:bg-black;
    transition: transform 0.8s cubic-bezier(0.52, 0.16, 0.04, 1);
    will-change: transform, opacity;
    contain: layout style;
    backface-visibility: hidden;
  }
}

.sidebar-container {
  li > div {
    @apply h-0;
  }
  li.open > div {
    @apply h-auto pt-1;
  }
  li.open > a > span > svg > path {
    @apply rotate-90;
  }
}

.hextra-scrollbar, .hextra-scrollbar * {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: oklch(55.55% 0 0 / 40%) transparent; /* Firefox */

  scrollbar-gutter: stable;
  &::-webkit-scrollbar {
    @apply w-3 h-3;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-[10px];
  }
  &:hover::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-color: var(--tw-shadow-color);
    background-clip: content-box;
    @apply shadow-neutral-500/20 hover:shadow-neutral-500/40;
  }
}

.border-gradient-primary {
  position: relative;
}

.border-gradient-primary::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(to right, #ffcf71, #2376dd) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.hover-border-gradient:hover {
  position: relative;
}

.hover-border-gradient:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(to right, #ffcf71, #2376dd) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.main-heading > span {
  background: linear-gradient(to right, #ffcf71, #2376dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-main-text:where(.dark, .dark *) {
  background: linear-gradient(to right, #ffcf71, #2376dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-main-gradient:hover {
  background: linear-gradient(to right, #ffcf71, #2376dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-pagination-bullet {
  background-color: black !important;
}

.swiper-pagination-bullet:where(.dark, .dark *) {
  background-color: white !important;
}

code {
  font-family: "Roboto Mono", monospace;
}

/* Background */ .bg { color:#F9FAFB; }
/* PreWrapper */ .chroma { color:#f8f8f2;background-color:#0C111D; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:10px;margin:0;border:0;background-color:#0C111D; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#191919 }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#D0D5DD; }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#D0D5DD;font-weight:700; }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:#FAA7E0 }
/* KeywordConstant */ .chroma .kc {  }
/* KeywordDeclaration */ .chroma .kd { color:#FAA7E0 }
/* KeywordNamespace */ .chroma .kn { color:#FAA7E0 }
/* KeywordPseudo */ .chroma .kp { color:#FAA7E0 }
/* KeywordReserved */ .chroma .kr { color:#FAA7E0 }
/* KeywordType */ .chroma .kt { color:#ee82ee }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc {  }
/* NameConstant */ .chroma .no { color:#7fffd4 }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf { color:#ff0 }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: #84CAFF; }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt {  }
/* NameVariable */ .chroma .nv { color:#eedd82 }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color:#87ceeb }
/* LiteralStringAffix */ .chroma .sa { color:#87ceeb }
/* LiteralStringBacktick */ .chroma .sb { color:#87ceeb }
/* LiteralStringChar */ .chroma .sc { color:#87ceeb }
/* LiteralStringDelimiter */ .chroma .dl { color:#87ceeb }
/* LiteralStringDoc */ .chroma .sd { color:#87ceeb }
/* LiteralStringDouble */ .chroma .s2 { color:#87ceeb }
/* LiteralStringEscape */ .chroma .se { color:#87ceeb }
/* LiteralStringHeredoc */ .chroma .sh { color:#87ceeb }
/* LiteralStringInterpol */ .chroma .si { color:#87ceeb }
/* LiteralStringOther */ .chroma .sx { color:#87ceeb }
/* LiteralStringRegex */ .chroma .sr { color:#87ceeb }
/* LiteralStringSingle */ .chroma .s1 {  }
/* LiteralStringSymbol */ .chroma .ss { color:#f60 }
/* LiteralNumber */ .chroma .m { color:#f60 }
/* LiteralNumberBin */ .chroma .mb { color:#f60 }
/* LiteralNumberFloat */ .chroma .mf { color:#f60 }
/* LiteralNumberHex */ .chroma .mh { color:#f60 }
/* LiteralNumberInteger */ .chroma .mi { color:#f60 }
/* LiteralNumberIntegerLong */ .chroma .il { color:#f60 }
/* LiteralNumberOct */ .chroma .mo { color:#f60 }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow {  }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color:#75E0A7 }
/* CommentHashbang */ .chroma .ch { color:#75E0A7 }
/* CommentMultiline */ .chroma .cm { color:#75E0A7 }
/* CommentSingle */ .chroma .c1 { color:#75E0A7 }
/* CommentSpecial */ .chroma .cs { color:#75E0A7 }
/* CommentPreproc */ .chroma .cp { color:#e5e5e5 }
/* CommentPreprocFile */ .chroma .cpf { color:#e5e5e5 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #091826; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for track */
}

::-webkit-scrollbar-thumb {
  background: #1e293b; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for thumb */
}
