<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $aos := resources.Get "plugins/aos/aos.js" }} {{ $aos := $aos | minify }}
<script src="{{ $aos.RelPermalink }}"></script>

<title>
  {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Page.Title }} - {{ .Site.Title
  }}{{ end }}
</title>

{{/* styles */}} {{ partialCached "css.html" . }} {{/* theme toggle function
*/}}
<script>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  function applyTheme() {
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  }

  // Apply the theme on load
  applyTheme();

  // Toggle theme based on current state
  function changeTheme() {
    if (localStorage.theme === "dark") {
      setLightMode();
    } else {
      setDarkMode();
    }
  }

  // Set light mode
  function setLightMode() {
    localStorage.theme = "light";
    document.documentElement.classList.remove("dark");
  }

  // Set dark mode
  function setDarkMode() {
    localStorage.theme = "dark";
    document.documentElement.classList.add("dark");
  }

  // Whenever the user explicitly chooses to respect the OS preference
  function setSystemMode() {
    localStorage.removeItem("theme");
    applyTheme();
  }

  // Add an event listener for changes in the user's OS preference
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', applyTheme);

  // Tabs function
  function showTab(tabId) {
    const tabs = document.querySelectorAll(".tab");
    const links = document.querySelectorAll(".tab-link");

    // Hide all tabs
    tabs.forEach((tab) => {
      tab.classList.add("hidden");
    });

    // Reset all links
    links.forEach((link) => {
      link.classList.remove("bg-style");
      link.classList.add("text-black", "dark:text-white", "bg-transparent");
    });

    // Show the selected tab
    document.getElementById(tabId).classList.remove("hidden");
    const activeLink = document.querySelector(`[data-tab="${tabId}"]`);
    activeLink.classList.add("text-black", "bg-style");
    activeLink.classList.remove("bg-transparent", "text-white", "dark:text-white");
  }

  // Initialize the first tab on page load
  window.onload = function () {
    showTab("monthlyBilling");
  };
</script>

{{/* top styles */}}
<style>
  .after-right-arrow::after {
    content: url('{{ "images/dev/dark_right_arrow.png" | relURL }}');
  }

  .after-right-arrow-transparent::after {
    content: url('{{ "images/dev/dark_right_arrow.png" | relURL }}');
  }
  
  .after-right-arrow-transparent-dark:where(.dark, .dark *)::after {
    content: url('{{ "images/dev/light_right_arrow.png" | relURL }}');
  }

  .after-down-arrow::after {
    content: url('{{ "images/dev/light_arrow_down.png" | relURL }}');
  }
  
  .after-down-arrow-dark:where(.dark, .dark *)::after {
   content: url('{{ "images/dev/dark_arrow_down.png" | relURL }}');
  }
</style>