{{ define "main" }}
{{/* hero section */}}
{{ with .Params.hero_section }}
{{ if .enable }}
<section class="h-full w-full bg-slate-100 dark:bg-main">
  <div class="relative flex justify-center items-center swiper heroSwiper">
    <div class="absolute w-full h-full">
      {{ $dark_doted := "images/dev/dark_doted_layer.png" | relURL }}
      <div style="background-image: linear-gradient(to bottom, transparent, #05101a 100%), url('{{ $dark_doted }}');"
        class="w-1/2 h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center absolute opacity-50 hidden dark:block">
      </div>
      <div style="background-image: url('{{ "images/dev/doted_layer.png" | relURL }}');"
        class="w-1/2 h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center absolute opacity-50 dark:hidden"></div>
      <div style="background-image: url('{{ "images/dev/dark_shadow.png" | relURL }}')"
        class="w-full h-full bg-no-repeat bg-top-center absolute opacity-50 hidden dark:block"></div>
      <div style="background-image: url('{{ "images/dev/light_shadow.png" | relURL }}')"
        class="w-full h-full bg-no-repeat bg-top-center absolute opacity-20 dark:hidden"></div>
      <div style="background-image: url('{{ "images/dev/top_shadow.png" | relURL }}');"
        class="w-full h-full bg-no-repeat bg-top-center absolute"></div>
    </div>

    <div class="swiper-wrapper relative z-30 lg:h-[610px] 2xl:h-[700px] ">
      {{ range .slides }}
      <div class="swiper-slide mt-20 {{ if .top_space }}sm:mt-40{{ else }}sm:mt-32{{ end }} h-full">
        <div
          class="flex flex-col h-full justify-center items-center gap-7 container mx-auto lg:max-w-full lg:gap-16 lg:flex-row px-5 sm:px-10 lg:px-16 xl:px-0 xl:max-w-6xl 2xl:max-w-[90rem] xl:mx-auto">
          <div class="lg:w-1/2">
            <div
              class="hidden lg:block rotate-45 size-60 bg-slate-100 dark:bg-main opacity-50 absolute top-32 left-36 -z-10">
            </div>
            <div class="space-y-3 z-50" data-aos="zoom-in">
              <h3
                class="font-poppins font-bold text-3xl lg:text-5xl text-slate-950 dark:text-white main-heading break-words">
                {{ .title | safeHTML }}
              </h3>
              <p class="text-slate-700 dark:text-slate-300 font-poppins text-xl">
                {{ .details | markdownify }}
              </p>
              {{ with .button }}
              <div class="rounded-3xl hover:bg-style hover:after:p-0 group after:rounded-3xl transition-all border-gradient-primary py-3 hover:scale-105 sm:max-w-44 text-center">
                <a href="{{ .url | relURL }}"
                  class="text-black dark:text-white group-hover:text-black font-medium text-sm font-poppins relative z-10">
                  <span class="flex justify-center items-center gap-2">
                  {{ .label }}
                  <img src='{{ "images/dev/dark_right_arrow.png" | relURL  }}' alt="" class="dark:hidden group-hover:block">
                  <img src='{{ "images/dev/light_right_arrow.png" | relURL  }}' alt="" class="hidden dark:block group-hover:hidden">
                  </span>
                </a>
              </div>
              {{ end }}
            </div>
          </div>
          <div class="lg:w-1/2 mx-auto flex justify-center items-center" data-aos="zoom-in">
            <img src='{{ .image  | relURL }}' alt="{{ .Site.Title }} - {{ .title | markdownify }}"
              class="md:shrink-0 {{ if .big_image }}w-[120%]{{ else }}xl:w-5/6{{ end }} animated" />
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ with .mission }}
    <div
      style="background: linear-gradient(to bottom, transparent, #05101a 100%)"
      class="hidden dark:flex container relative z-10 mx-auto px-5 sm:px-10 lg:px-16 flex-col lg:flex-row justify-between gap-5 lg:gap-0 py-10 sm:pt-0 sm:pb-20 lg:py-20">
      <h3 class="font-poppins font-bold text-3xl lg:text-5xl text-black dark:text-white lg:w-1/3">
        {{ .title | safeHTML }}
      </h3>
      {{ with .details }}
      <div class="py-[1px] w-full lg:w-auto lg:px-[1px] rotate-[.5] lg:rotate-12 bg-slate-800 dark:bg-style"></div>
      {{ end }}
      <p class="text-slate-700 dark:text-slate-400 font-poppins text-lg lg:w-1/2">
        {{ .details | markdownify }}
      </p>
    </div>
    <div
      style="background: linear-gradient(to bottom, transparent, #f8fafc 100%)"
      class="dark:hidden container mx-auto px-5 sm:px-10 lg:px-16 flex flex-col lg:flex-row justify-between gap-5 lg:gap-0 py-20">
      <h3 class="font-poppins font-bold text-3xl lg:text-5xl text-black dark:text-white lg:w-1/3">
        {{ .title | safeHTML }}
      </h3>
      {{ with .details }}
      <div class="py-[1px] w-full lg:w-auto lg:px-[1px] rotate-[.5] lg:rotate-12 bg-slate-800 dark:bg-style"></div>
      {{ end }}
      <p class="text-slate-700 dark:text-slate-400 font-poppins text-lg lg:w-1/2">
        {{ .details | markdownify }}
      </p>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
{{/* end hero */}}

{{/* news section */}}
{{ with .Params.news_section }}
{{ if .enable }}
<section class="w-full h-full bg-slate-100 dark:bg-main">
  <div class="container lg:max-w-full mx-auto px-5 sm:px-10 lg:px-0 pb-10 sm:pb-20 lg:py-20">
    <div class="swiper mySwiper">
      <div class="lg:container lg:mx-auto lg:px-16 md:flex md:justify-between">
        <h3 class="font-poppins font-semibold text-3xl lg:text-[46px] text-black dark:text-slate-200 main-heading">
          Latest Vulnerabilities
        </h3>
        <div class="hidden md:flex gap-3">
          <div
            class="p-4 border-gradient-primary rounded-full after:rounded-full hover:bg-gradient-primary cursor-pointer transition-colors swiper-button-prev">
            <img src='{{ "images/dev/prev.png"  | relURL }}' alt="{{ site.Title }}" class="hidden dark:block" />
            <img src='{{ "images/dev/dark_prev.png"  | relURL }}' alt="{{ site.Title }}" class="dark:hidden" />
          </div>
          <div
            class="p-4 border-gradient-primary rounded-full after:rounded-full hover:bg-gradient-primary cursor-pointer transition-colors swiper-button-next">
            <img src='{{ "images/dev/next.png"  | relURL }}' alt="{{ site.Title }}" class="hidden dark:block" />
            <img src='{{ "images/dev/dark_next.png"  | relURL }}' alt="{{ site.Title }}" class="dark:hidden" />
          </div>
        </div>
      </div>
      <div class="my-5 swiper-wrapper lg:gap-3">
        <div class="hidden lg:block min-w-[calc(7%)] min-[1100px]:min-w-[calc(10%)] min-[1200px]:min-w-[calc(15%)] xl:min-w-[calc(5%)] min-[1400px]:min-w-[calc(10%)] min-[1500px]:min-w-[calc(12%)] 2xl:min-w-[calc(5%)] min-[1600px]:min-w-[calc(7%)] min-[1700px]:min-w-[calc(10%)] min-[1800px]:min-w-[calc(12%)] min-[1900px]:min-w-[calc(15%)] min-[2000px]:min-w-[calc(18%)] min-[2300px]:min-w-[calc(20%)] min-[2500px]:min-w-[calc(23%)]"></div>
        {{ with .cards }}
        {{ range $i, $p := . }}
        <div
          class="rounded-3xl p-5 sm:p-10 bg-white dark:bg-blue border dark:border-slate-800 swiper-slide h-full lg:max-w-[calc(29%)] min-[1100]:max-w-[calc(27%)] xl:max-w-[calc(30%)] relative overflow-hidden animated">
          <div style="background-image: url('{{ "images/dev/dark_box_lines.png" | relURL }}');"
            class="w-full h-full absolute top-0 left-0 hidden dark:block"></div>
          <div style="background-image: url('{{ "images/dev/light_box_lines.png" | relURL }}');"
            class="w-full h-full absolute top-0 left-0 dark:block"></div>
          <div class="space-y-5 relative z-20">
            <div class="spacy-y-2">
              <h4 class="text-black dark:text-off-white font-poppins font-semibold text-2xl">
                {{ $p.title | markdownify }}
              </h4>
              <p class="text-slate-600 dark:text-slate-500 font-poppins text-lg">
                {{ $p.subtitle | markdownify }}
              </p>
            </div>
            {{ with $p.affecting }}
            <div class="space-y-2">
              <p class="font-poppins text-slate-900 dark:text-style uppercase">AFFECTING</p>
              <ul class="space-y-2 text-slate-700 dark:text-off-white font-poppins text-[15px] list-disc list-inside">
                {{ range . }}
                <li>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
            <div class="flex flex-wrap gap-y-2 justify-between">
              <p class="text-slate-700 dark:text-white font-poppins">{{ $p.date }}</p>
              {{ if eq $p.type "high" }}
              <div class="border border-warning px-2 text-warning rounded-full font-poppins">
                High
              </div>
              {{ end }}
              {{ if eq $p.type "critical" }}
              <div class="border border-danger px-2 text-danger rounded-full font-poppins">
                Critical
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
      <div class="mt-10 md:hidden">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{/* end news */}}

{{/* cards section */}}
{{ with .Params.services_section }}
{{ if .enable }}
<section class="w-full h-full bg-slate-100 dark:bg-main">
  <div class="container mx-auto px-5 sm:px-10 lg:px-16 pb-10 sm:pb-20 lg:py-20">
    <div class="space-y-7 sm:space-y-10">
      {{ range $i, $p := .cards }}
      <div class="rounded-3xl flex justify-center items-center shadow-lg bg-white dark:bg-blue overflow-hidden">
        <div
          class="flex flex-col {{ if not (modBool $i 2) }}lg:flex-row-reverse{{ else }}lg:flex-row{{ end }} gap-5 lg:gap-0 justify-between relative">
          <img src='{{ "images/dev/services-layer.png"  | relURL }}' alt=""
            class="w-full h-full absolute {{ if not (modBool $i 2) }}transform scale-x-[-1]{{ end }}" />
          <div class="lg:w-1/2 p-5 md:p-14 relative">
            <img src='{{ "images/dev/services-circles.png"  | relURL }}' alt=""
              class="w-full h-full absolute top-0 left-0 {{ if not (modBool $i 2) }}transform scale-x-[-1]{{ end }}" />
            <div class="space-y-5 relative z-20">
              <h3 class="font-poppins font-bold text-3xl lg:text-[42px] text-black dark:text-slate-400 main-heading">
                {{ $p.title | safeHTML }}
              </h3>
              <p class="font-poppins text-lg lg:text-xl text-slate-700 dark:text-slate-400">
                {{ $p.details | markdownify }}
              </p>
            </div>
          </div>
          <div
            class="lg:w-1/2 h-40 lg:h-[26rem] bg-contain lg:bg-cover bg-no-repeat filter grayscale {{ if not (modBool $i 2) }}bg-left{{ else }}bg-right{{ end }} lg:bg-none"
            style="background-image:url('{{ $p.image | relURL }}')">
            {{/*  <img src='{{ $p.image  | relURL }}' alt="{{ $.Site.Title}} {{ .title | markdownify }}"  */}}
              {{/*  class="hidden lg:inline-block filter grayscale" />  */}}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{/* end cards */}} {{/* blog section */}}
{{ with .Params.blog_section }}
{{ if .enable }}
<section class="w-full h-full bg-slate-100 dark:bg-main">
  <div class="container mx-auto px-5 sm:px-10 lg:px-16 sm:pb-32 lg:pt-20">
    <div class="flex flex-wrap gap-y-4 gap-2 justify-between">
      <h3 class="font-poppins font-semibold text-3xl lg:text-5xl text-black dark:text-slate-200">
        Our Blog
      </h3>
      <div class="rounded-3xl flex justify-center items-center hover:bg-style group hover:text-black hover:after:p-0 after:rounded-3xl px-9 py-1 hover:scale-105 transition-all border-gradient-primary">
        <a href="#"
          class="text-black dark:text-white font-medium group-hover:text-black text-sm font-poppins relative z-10">View
          all Blog posts</a>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-5">
      {{ range .cards }}
      <a href="" class="space-y-5">
        {{/* <img src='{{ .image | relURL }}' alt="{{ site.Title }} {{ .Page.Title }}"
          class="rounded-t-xl object-cover" /> */}}
        <div style="background-image: url('{{ .image | relURL }}');"
          class="bg-no-repeat bg-cover rounded-xl h-64 w-full"></div>
        <div>
          <span class="px-3 font-medium py-1 bg-style text-slate-950 rounded-lg font-poppins">{{ .label }}</span>
        </div>
        <h3 class="font-poppins font-semibold text-2xl text-black dark:text-white">
          {{ .title | safeHTML | truncate 55 }}
        </h3>
        <p class="font-poppins text-[16px] text-slate-700 dark:text-gray-400">
          {{ .details | safeHTML | truncate 140 }}
        </p>
      </a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{/* end blog */}}
<div class="sm:-mt-52 lg:-mt-64 bg-slate-100 dark:bg-main">
  <img src='{{ "images/dev/bottom_layer.png" | relURL }}' alt="" class="container mx-auto w-full" />
</div>
{{ end }}